<h2>Update the drone</h2>

<form action="/drones/{{drone._id}}/edit" method="post">
<label for="name">Name</label>
<input type="text" name="name" value="{{drone.name}}">

<label for="propellers">Propellers</label>
<input type="number" name="Propellers" value="{{drone.propellers}}">

<label for="maxSpeed">Max Speed</label>
<input type="number" name="MaxSpeed" value="{{drone.maxSpeed}}">

<button type="submit">Edit Drone</button>

<form action="/drones/{{_id}}/delete" method="post">
        <button>Delete</button>
</form>